<!DOCTYPE html>
<html>

<head>
    <title>FF14妖表联动工具站</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.34/vue.global.prod.min.js"></script>
    <link rel="stylesheet" href="style.css?v=1.0.0">
    <!-- 51.la的统计代码 -->
    <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
    <script>LA.init({ id: "3JAURnqSmTZs7l3k", ck: "3JAURnqSmTZs7l3k" })</script>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- 顶部卡片 -->
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">FF14妖表联动工具站</h4>
                        <p class="mb-2">引用资料及图片素材来源：</p>
                        <p class="mb-2">
                            <a type="button" class="btn btn-primary mx-1"
                                href="https://actff1.web.sdo.com/project/20240722yokai/" target="_blank">
                                官网妖表活动页</a>
                            <a type="button" class="btn btn-primary mx-1"
                                href="https://ff14.huijiwiki.com/wiki/%E5%A6%96%E6%80%AA%E6%89%8B%E8%A1%A8"
                                target="_blank">灰机wiki妖表联动页</a>
                        </p>
                        <p class="mb-2">反馈途径：</p>
                        <p class="mb-2">
                            <a type="button" class="btn btn-success mx-1"
                                href="https://www.bilibili.com/video/BV1Y4421Z7sg" target="_blank">B站视频教程</a>
                            <a type="button" class="btn btn-success mx-1"
                                href="https://bbs.nga.cn/read.php?tid=41002182" target="_blank">NGA</a>
                            <a type="button" class="btn btn-success mx-1" href="https://tieba.baidu.com/p/9104273005"
                                target="_blank">贴吧</a>
                            <a type="button" class="btn btn-success mx-1"
                                href="https://github.com/MisakaCirno/FFXIVYoKaiHelper" target="_blank">Github仓库</a>
                        </p>
                        <p class="mb-2">点击宠物图标可以快速复制召唤宠物的宏；点击武器图标则可以快速复制检索道具的宏，便于查询持有情况。</p>
                        <p class="mb-1">注1：如果发现列表的内容加载不出来，可能是因为浏览器的缘故，请尝试切换浏览器解决！其他的解决方法正在研究中。</p>
                        <p class="mb-0">注2：如果页面产生错误，可以使用Ctrl + F5强制刷新页面，以获取最新版本的网站。</p>
                        <button type="button" @click="printData">测试</button>
                    </div>
                    <!-- 定义tab item -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <!-- 第一个tab item -->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="jobToMapPage-tab" data-bs-toggle="tab"
                                data-bs-target="#jobToMapPage" type="button" role="tab" aria-controls="jobToMapPage"
                                aria-selected="true">职业查找地图</button>
                        </li>
                        <!-- 第二个tab item -->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="mapToJobPage-tab" data-bs-toggle="tab"
                                data-bs-target="#mapToJobPage" type="button" role="tab" aria-controls="mapToJobPage"
                                aria-selected="false">地图查找职业</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="updateLogPage-tab" data-bs-toggle="tab"
                                data-bs-target="#updateLogPage" type="button" role="tab" aria-controls="updateLogPage"
                                aria-selected="false">更新日志</button>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <!-- 第一个tab -->
                        <div class="tab-pane fade show active" id="jobToMapPage" role="tabpanel"
                            aria-labelledby="jobToMapPage-tab">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">职业</th>
                                        <th scope="col">宠物</th>
                                        <th scope="col">武器</th>
                                        <th scope="col">地区</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="yokaiData in yokaiDataList" :key="item">
                                        <!-- 职业 -->
                                        <td>
                                            <div class="d-flex justify-content-center" style="flex: 1">
                                                <div class="d-flex flex-column align-items-center" style="flex: 1">
                                                    <input type="checkbox" class="btn-check" :id="yokaiData.job"
                                                        autocomplete="off" v-model="yokaiData.isChecked">
                                                    <label class="btn btn-outline-success" :for="yokaiData.job"
                                                        style="width: 100%;">
                                                        <img :src="'images/job_icon/' + yokaiData.job + '.png'"
                                                            alt="Job Image" style="width: 45px; height: 45px;"
                                                            :job="yokaiData.job" @mouseover="showJobDetail"
                                                            @mouseout="hideJobDetail" />
                                                        <p class="text-center mb-0" style="white-space: nowrap;">{{ yokaiData.job }}</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- 宠物 -->
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <div class="d-flex flex-column align-items-center">
                                                    <img :src="'images/pet_icon/' + yokaiData.pet + '.png'"
                                                        alt="Pet Image" style="width: 45px; height: 45px;"
                                                        :pet="yokaiData.pet" @mouseover="showPetDetail"
                                                        @mouseout="hidePetDetail"
                                                        @click="copyToClipboard('/minion ' + yokaiData.pet)" />
                                                    <p class="text-center mb-0">{{ yokaiData.pet }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- 武器 -->
                                        <td>
                                            <div>
                                                <div class="d-flex justify-content-center">
                                                    <div class="d-flex flex-column align-items-center mx-1"
                                                        v-for="weapon in yokaiData.weapon">
                                                        <img :src="'images/weapon_icon/' + weapon + '.png'"
                                                            alt="Weapon Image" style="width: 45px; height: 45px;"
                                                            :weapon="weapon" :job="yokaiData.job"
                                                            @mouseover="showJobDetail" @mouseout="hideJobDetail"
                                                            @click="copyToClipboard('/isearch ' + weapon)" />
                                                        <p class="text-center mb-0">{{ weapon }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- 地区 -->
                                        <td>
                                            <button class="btn mx-0 my-0 py-0 rounded-2"
                                                v-for="region in yokaiData.regions" :key="region" :region="region"
                                                @click="highlightRegion(region)"
                                                :class="{ 'btn-primary': highlightedRegion === region, 'btn-outline-primary': highlightedRegion !== region }">
                                                {{ region }}
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 第二个tab -->
                        <div class="tab-pane fade" id="mapToJobPage" role="tabpanel" aria-labelledby="mapToJobPage-tab">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 12em;">地区</th>
                                        <th scope="col">职业</th>
                                        <th scope="col">其他</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="regionData in regionDataList" :key="regionData">
                                        <!-- 地区 -->
                                        <td>
                                            <div class="d-flex justify-content-center" style="flex: 1">
                                                <div class="d-flex flex-column align-items-center" style="flex: 1">
                                                    <input type="checkbox" class="btn-check" :id="regionData.subRegion"
                                                        autocomplete="off" v-model="regionData.isChecked">
                                                    <label class="btn btn-outline-success" :for="regionData.subRegion" style="width: 100%;">
                                                        <div class="d-flex flex-column align-items-center">
                                                            <p class="text-center" style="white-space: nowrap;">{{ regionData.primaryRegion }}</p>
                                                            <p class="text-center mb-0" style="white-space: nowrap;">{{ regionData.subRegion }}</p>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- 职业 -->
                                        <td>
                                            <div>
                                                <div class="d-flex justify-content-start">
                                                    <div class="d-flex flex-column align-items-center mx-2"
                                                        v-for="jobData in regionData.jobs">
                                                        <img :key="jobData.job" :job="jobData.job"
                                                            :src="'images/job_icon/' + jobData.job + '.png'"
                                                            alt="Job Image" style="width: 45px; height: 45px;"
                                                            @mouseover="showJobDetail" @mouseout="hideJobDetail">
                                                        <p class="text-center mb-0">{{ jobData.job }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- 其他 -->
                                        <td>
                                            <div>
                                                <div class="d-flex justify-content-start">
                                                    <div class="d-flex flex-column align-items-center mx-2"
                                                        v-for="otherData in regionData.others">
                                                        <img :key="otherData.name" :name="otherData.name"
                                                            :src="'images/other_icon/' + otherData.folder + '/' + otherData.name + '.png'"
                                                            alt="Other Image" style="width: 45px; height: 45px;">
                                                        <p class="text-center mb-0">{{ otherData.name }}</p>
                                                        <p class="badge text-bg-info mb-0">{{ otherData.type }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 更新日志 -->
                        <div class="tab-pane fade" id="updateLogPage" role="tabpanel"
                            aria-labelledby="updateLogPage-tab">
                            <div style="background-color: white;">
                                <div class="p-2">
                                    <p>2024-08-01</p>
                                    <ul>
                                        <li>支持标记职业和地区，但暂时不支持存储到本地，页面关闭后会消失</li>
                                    </ul>
                                    <p>2024-08-01</p>
                                    <ul>
                                        <li>更新了网站的CDN，现在访问应该更加稳定了</li>
                                    </ul>
                                    <p>2024-07-31</p>
                                    <ul>
                                        <li>补充义武的两个水晶掉落（感谢NGA：be4t8020指出）</li>
                                        <li>添加视频的链接</li>
                                        <li>添加更新日志</li>
                                    </ul>
                                    <p>2024-07-29</p>
                                    <ul>
                                        <li>添加古武、魂武、义武的水晶掉落</li>
                                        <li>支持点击复制宠物召唤宏、武器检索宏</li>
                                        <li>修复悬浮图片闪烁的BUG</li>
                                        <li>修复白魔、学者对应地区错误的BUG（感谢NGA：hinight指出）</li>
                                    </ul>
                                    <p>2024-07-28</p>
                                    <ul>
                                        <li>显示武器和宠物图标</li>
                                        <li>显示地图的大分区</li>
                                        <li>优化排版效果</li>
                                    </ul>
                                    <p>2024-07-26</p>
                                    <ul>
                                        <li>发布第一个版本</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 悬浮窗 -->
            <div id="tooltip" style="display: none; position: absolute;">
                <img id="tooltipImage" :src="previewImageURL" alt="Detail Image" style="min-width: 30vh; height: 30vh;">
            </div>
        </div>
    </div>
    <script src="script.js?v=1.0.1"></script>
</body>

</html>