<!DOCTYPE html>
<html>

<head>
    <title>FF14妖表联动工具站</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="module/bootstrap-5.3.3/css/bootstrap.min.css">
    <script src="module/bootstrap-5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="module/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">FF14妖表联动工具站</h4>
                        <p class="mb-0">引用资料：</p>
                        <ul>
                            <li><a href="https://actff1.web.sdo.com/project/20240722yokai/"
                                    target="_blank">官网妖表联动活动页</a></li>
                            <li><a href="https://ff14.huijiwiki.com/wiki/%E5%A6%96%E6%80%AA%E6%89%8B%E8%A1%A8"
                                    target="_blank">FF14 灰机wiki 妖表联动</a></li>
                        </ul>
                    </div>
                    <!-- 定义tab item -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <!-- 第一个tab item -->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="jobToMapPage-tab" data-bs-toggle="tab"
                                data-bs-target="#jobToMapPage" type="button" role="tab" aria-controls="jobToMapPage"
                                aria-selected="true">职业查找地图</button>
                        </li>
                        <!-- 第二个tab item -->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="mapToJobPage-tab" data-bs-toggle="tab"
                                data-bs-target="#mapToJobPage" type="button" role="tab" aria-controls="mapToJobPage"
                                aria-selected="false">地图查找职业</button>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <!-- 第一个tab -->
                        <div class="tab-pane fade show active" id="jobToMapPage" role="tabpanel"
                            aria-labelledby="jobToMapPage-tab">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">职业</th>
                                        <th scope="col">宠物</th>
                                        <th scope="col" style="min-width: 180px;">武器</th>
                                        <th scope="col">地区</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="yokaiData in yokaiDataList" :key="item">
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <div class="d-flex flex-column align-items-center">
                                                    <img :src="'images/job_icon/' + yokaiData.job + '.png'"
                                                        alt="Job Image" style="width: 45px; height: 45px;"
                                                        :job="yokaiData.job" @mouseover="showJobDetail"
                                                        @mouseout="hideJobDetail" />
                                                    <p class="text-center mb-0">{{ yokaiData.job }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <div class="d-flex flex-column align-items-center">
                                                    <img :src="'images/pet_icon/' + yokaiData.pet + '.png'"
                                                        alt="Pet Image" style="width: 45px; height: 45px;"
                                                        :pet="yokaiData.pet" @mouseover="showPetDetail"
                                                        @mouseout="hidePetDetail" />
                                                    <p class="text-center mb-0">{{ yokaiData.pet }}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <div class="d-flex justify-content-center">
                                                    <div class="d-flex flex-column align-items-center mx-1"
                                                        v-for="weapon in yokaiData.weapon">
                                                        <img :src="'images/weapon_icon/' + weapon + '.png'"
                                                            alt="Weapon Image" style="width: 45px; height: 45px;"
                                                            :weapon="weapon" :job="yokaiData.job"
                                                            @mouseover="showJobDetail" @mouseout="hideJobDetail"
                                                            @click="copyToClipboard(weapon)" />
                                                        <p class="text-center mb-0">{{ weapon }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn mx-0 my-0 py-0 rounded-2"
                                                v-for="region in yokaiData.regions" :key="region" :region="region"
                                                @click="highlightRegion(region)"
                                                :class="{ 'btn-primary': highlightedRegion === region, 'btn-outline-primary': highlightedRegion !== region }">
                                                {{ region }}
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 第二个tab -->
                        <div class="tab-pane fade" id="mapToJobPage" role="tabpanel" aria-labelledby="mapToJobPage-tab">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">大地区</th>
                                        <th scope="col">小地区</th>
                                        <th scope="col">职业</th>
                                        <th scope="col">其他</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="regionToJobData in regionToJobDataList" :key="regionToJobData">
                                        <td>{{ regionToJobData.primaryRegion }}</td>
                                        <td>{{ regionToJobData.subRegion }}</td>
                                        <td>
                                            <!-- 横向布局内部的div -->
                                            <div>
                                                <div class="d-flex justify-content-start">
                                                    <div class="d-flex flex-column align-items-center mx-2"
                                                        v-for="jobData in regionToJobData.jobs">
                                                        <img :key="jobData.job"
                                                            :src="'images/job_icon/' + jobData.job + '.png'"
                                                            alt="Job Image" style="width: 45px; height: 45px;"
                                                            :job="jobData.job" @mouseover="showJobDetail"
                                                            @mouseout="hideJobDetail">
                                                        <p class="text-center mb-0">{{ jobData.job }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>暂无</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 悬浮窗 -->
            <div id="tooltip" style="display: none; position: absolute;">
                <img id="imager" src="" alt="Detail Image" style="width: 30vw; height: auto;">
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>