.card {
    border: 1px solid #e5e5e5;
}

body {
    background-color: #f7dab8;
}

.alert-primary {
    background-color: #392c18;
    color: white;
}

.alert-heading{
    color: white;
}

hr {
    border: 1px solid #ff5cad;
}

nav {
    border-bottom: 1px solid #ff5cad;
}

#tooltip {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.hightlight {
    background-color: #ff5cad;
}

.horizontal-layout {
    display: flex;
    justify-content: space-between; /* 可选：调整子元素之间的间距 */
    align-items: center; /* 可选：垂直居中对齐子元素 */
}